.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  line-height: 1;
  -webkit-transition: border-radius 0.1s ease,
    width 0.2s ease;
  transition: border-radius 0.1s ease,
    width 0.2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);

  .menu {
    position: absolute;
    display: none;
    top: 100%;
    margin: 0em;
    background-color: #FFFFFF;
    min-width: 100%;
    white-space: nowrap;
    font-size: 0.875em;
    text-shadow: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0.325em 0.325em;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    z-index: 12;

    top: 100%;
    margin-top: 0.75em;
    -moz-border-radius: 0.325em;
    -webkit-border-radius: 0.325em;
    border-radius: 0.325em;

    &:after {
      display: block;
      position: absolute;
      pointer-events: none;
      content: " ";
      visibility: visible;
      width: 0.5em;
      height: 0.5em;
      -moz-box-shadow: -1px -1px 0px 1px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: -1px -1px 0px 1px rgba(0, 0, 0, 0.05);
      box-shadow: -1px -1px 0px 1px rgba(0, 0, 0, 0.05);
      background-image: none;
      background-color: #FFFFFF;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg);
      z-index: 11;
      top: -0.25em;
      left: 1em;
    }

    &:first-child {
      margin-top: 0rem;
    }

    &:last-child {
      margin-bottom: 0rem;
    }

    &.visible {
      display: block;
    }

    a {
      // display: block;
      // padding: 0.4em 0.8em;
      color: #333;

      border-bottom: 1px solid #eee;
      background-color: #fff;

      position: relative;
      display: block;
      padding: 0.83em 0.95em;
      border-top: 0em solid rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -moz-user-select: -moz-none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      vertical-align: middle;
      line-height: 1;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: opacity 0.2s ease,
      background 0.2s ease,
      -webkit-box-shadow 0.2s ease;
      transition: opacity 0.2s ease,
      background 0.2s ease,
      box-shadow 0.2s ease;

      z-index: 13;

      &:first-child {
        border-radius: 0.325em 0.325em 0 0;
      }

      &:last-child {
        border-bottom: none;
        border-radius: 0 0 0.325em 0.325em;
      }

      &:hover {
        background: #eee;
      }

    }
  }
}